In [1]:
import selenium
import pandas as pd
import time

from selenium import webdriver

In [2]:
# activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')

# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [28]:
# opening the homepage of naukri.com
driver.get('https://www.naukri.com')

In [29]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_bar.clear()
search_bar.send_keys(search_inp)

# passing location
loc_inp = input('Enter location: ')
loc_bar = driver.find_element_by_id('qsb-location-sugg')
loc_bar.clear()
loc_bar.send_keys(loc_inp)
time.sleep(4)

# searching
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Enter the post name: Data Scientist
Enter location: Bangalore

In [30]:
job_title = []
job_loc = []
comp_name = []
expr = []

In [35]:
# extracting job title
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    if len(job_title) == 10:
        break
    else:
        job_title.append(i.text)

# extracting job location
for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    if len(job_loc) == 10:
        break
    else:
        job_loc.append(j.text)

# extracting company name
for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    if len(comp_name) == 10:
        break
    else:
        comp_name.append(k.text)

# extracting experirncr required
for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
    if len(expr) == 10:
        break
    else:
        expr.append(l.text)

In [36]:
print(len(job_title), len(job_loc), len(comp_name), len(expr))

10 10 10 10

In [37]:
Jobs = pd.DataFrame({})
Jobs['title'] = job_title
Jobs['company'] = comp_name
Jobs['location'] = job_loc
Jobs['experience'] = expr

In [38]:
Jobs

,title,company,location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2-7 Yrs
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2-7 Yrs
3,Analytics & AI Product Mgmt - Sr. Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,10-12 Yrs
4,Senior Data Scientist,Vijaya Management Services,"Pune, Chennai, Bangalore/Bengaluru",5-10 Yrs
5,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",3-7 Yrs
6,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
7,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
8,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
9,Senior Data Scientist - Credit risk,Scienaptic Systems,Bangalore/Bengaluru,5-10 Yrs

# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [3]:
# opening the homepage of naukri.com/
driver.get('https://www.naukri.com')

In [4]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_bar.clear()
search_bar.send_keys(search_inp)

# passing location
loc_inp = input('Enter location: ')
loc_bar = driver.find_element_by_id('qsb-location-sugg')
loc_bar.clear()
loc_bar.send_keys(loc_inp)
time.sleep(4)

# searching
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Enter the post name: Data Scientist
Enter location: Bangalore

In [5]:
job_title = []
job_loc = []
comp_name = []
desc = []
url = []

In [6]:
# extracting job title
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    if len(job_title) == 10:
        break
    else:
        job_title.append(i.text)

# extracting job location
for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    if len(job_loc) == 10:
        break
    else:
        job_loc.append(j.text)

# extracting company name
for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    if len(comp_name) == 10:
        break
    else:
        comp_name.append(k.text)

# storing url of description page
for l in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
    if len(url) == 10:
        break
    else:
        url.append(l.get_attribute('href'))

# extracting description required
for i in range(len(url)):
    page_url = url[i]
    driver.get(page_url)
    a = "//div[@class='dang-inner-html']"
    b = "//div[@class='clearboth description']"
    if driver.find_element_by_xpath(a):
        desc.append(a.text)
    else:
        driver.find_element_by_xpath(b)
        desc.append(b.text)

AttributeError: 'str' object has no attribute 'text'

# Scraping data from naukri.com using filters

The location filter to be used is 'Delhi/NCR'

The salary filter to be used is '3-6' lakhs

In [98]:
driver.get('https://www.naukri.com')

In [99]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_bar.clear()
search_bar.send_keys(search_inp)

# searching
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Enter the post name: Data Scientist

In [111]:
# getting location filters

loc_fltr = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc_fltr.click()

In [112]:
# getting salary filter
sal_fltr = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal_fltr.click()

In [113]:
job_title = []
job_loc = []
comp_name = []
expr = []

In [114]:
# extracting job title
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    if len(job_title) == 10:
        break
    else:
        job_title.append(i.text)

# extracting job location
for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
    if len(job_loc) == 10:
        break
    else:
        job_loc.append(j.text)

# extracting company name
for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    if len(comp_name) == 10:
        break
    else:
        comp_name.append(k.text)

# extracting experirncr required
for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
    if len(expr) == 10:
        break
    else:
        expr.append(l.text)

In [115]:
jobs = pd.DataFrame({})
jobs['title'] = job_title
jobs['location'] = job_loc
jobs['company'] = comp_name
jobs['experience'] = expr
jobs

,title,location,company,experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
2,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs
3,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
4,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
7,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
8,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs

# Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [15]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [19]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_id('sc.keyword')
search_bar.send_keys(search_inp)

# passing location
loc_inp = input('Enter location: ')
loc_bar = driver.find_element_by_id('sc.location')
loc_bar.clear()
loc_bar.send_keys(loc_inp)
time.sleep(4)

# searching
search_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]/span')
search_btn.click()

Enter the post name: Data Scientist
Enter location: Noida

In [78]:
comp = []
days = []
rating = []

In [79]:
# extracting company name
for i in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span"):
    if len(comp) == 10:
        break
    else:
        comp.append(i.text)

# extracting days
for j in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
    if len(days) == 10:
        break
    else:
        days.append(j.text)

# extracting rating
for k in driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']"):
    if len(rating) == 10:
        break
    else:
        rating.append(k.text)

In [80]:
glassdoor = pd.DataFrame({})
glassdoor['Company Name'] = comp
glassdoor['Days Ago'] = days
glassdoor['Rating'] = rating

In [81]:
len(comp)

10

In [82]:
glassdoor

                    Company Name Days Ago Rating
0               Société Générale      11d    3.8
1                            IBM       2d    3.9
2                Cardinal Health       6d    3.7
3                IDFC FIRST Bank       5d    3.5
4                      dunnhumby       2d    4.1
5              IDP Education Ltd       1d    4.1
6                        Daimler       7d    4.1
7  Marktine Technology Solutions       8d    4.0
8         Mondelēz International       6d    3.4
9          ArrayGen Technologies      17d    3.6

# Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [87]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [88]:
# passing post name
search_inp = input('Enter the post name: ')
search_bar = driver.find_element_by_xpath('//input[@name="sc.keyword"]')
search_bar.send_keys(search_inp)

# passing location
loc_inp = input('Enter location: ')
loc_bar = driver.find_element_by_xpath('//input[@id="LocationSearch"]')
loc_bar.clear()
loc_bar.send_keys(loc_inp)
time.sleep(4)

# searching
search_btn = driver.find_element_by_xpath('//button[@id="HeroSearchButton"]')
search_btn.click()

Enter the post name: Data Scientist
Enter location: Noida

In [106]:
comp = []
min_sal = []
max_sal = []
avg_sal = []

In [107]:
# extracting company name
for i in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
    if len(comp) == 10:
        break
    else:
        comp.append(i.text)
        
# extracting Minimum Salary
for j in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]"):
    if len(min_sal) == 10:
        break
    else:
        min_sal.append(j.text)
        
# extracting Maximum Salary
for k in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]"):
    if len(max_sal) == 10:
        break
    else:
        max_sal.append(k.text)
        
# extracting Average Salary
for l in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong"):
    if len(avg_sal) == 10:
        break
    else:
        avg_sal.append(l.text)

In [110]:
sal = pd.DataFrame({})
sal['Compnay'] = comp
sal['Minimum Salary'] = min_sal
sal['Maximum Salary'] = max_sal
sal['Average Salary'] = avg_sal

In [111]:
sal

                     Compnay Minimum Salary Maximum Salary Average Salary
0  Tata Consultancy Services          ₹343K        ₹1,095K     ₹ 6,11,228
1                  Accenture          ₹577K        ₹2,213K    ₹ 11,46,533
2                        IBM          ₹586K        ₹2,730K     ₹ 8,97,795
3         Ericsson-Worldwide          ₹355K        ₹1,613K     ₹ 7,38,057
4                  Delhivery          ₹450K       ₹11,622K    ₹ 12,39,781
5         UnitedHealth Group        ₹1,069K        ₹1,520K    ₹ 13,36,142
6         Valiance Solutions          ₹502K        ₹1,465K     ₹ 8,15,192
7              ZS Associates          ₹202K        ₹1,809K    ₹ 11,35,221
8                EXL Service          ₹575K        ₹1,520K    ₹ 11,44,243
9     Optum Global Solutions        ₹1,014K        ₹2,149K    ₹ 14,13,288

# Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: Brand, Product Description, Price, Discount.

In [252]:
driver.get('https://www.flipkart.com')

In [ ]:
#closing login page
closing = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
closing.click()

In [254]:
# searching product

inp = input("Enter the product: ")
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.clear()
search.send_keys(inp)

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

Enter the product: sunglasses

In [255]:
brand = []
product_desc = []
price = []
discount = []
urls = []

In [256]:
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in url:
    urls.append(i.get_attribute('href'))
for i in range(0,3):
    driver.get(urls[i])
    for m in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        if len(brand) == 100:
            break
        else:
            brand.append(m.text)
    
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        if len(price) == 100:
            break
        else:
            price.append(j.text)
    
    for k in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        if len(discount) == 100:
            break
        else:
            discount.append(k.text)
    
    for l in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if len(desc) == 100:
            break
        else:
            desc.append(l.text)

In [257]:
sunglass = pd.DataFrame({})
sunglass['Brand'] = brand
sunglass['Description'] = desc
sunglass['Price'] = price
sunglass['Disscont'] = discount

In [258]:
sunglass

,Brand,Description,Price,Disscont
0,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹379,74% off
1,ROYAL SON,UV Protection Wayfarer Sunglasses (Free Size),₹664,66% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹250,84% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹758,15% off
4,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹630,21% off
...,...,...,...,...
95,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹474,68% off
96,ROYAL SON,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹399,73% off
97,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,097",15% off
98,GANSTA,"UV Protection, Mirrored Retro Square Sunglasse...",₹224,77% off
99,ROYAL SON,"UV Protection, Riding Glasses Rectangular Sung...",₹759,62% off

# Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [282]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [283]:
rating = []
r_sum = []
full_sum = []
urls1 = []

In [284]:
# opening the review page
clk = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
clk.click()

In [285]:
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in url:
    urls1.append(i.get_attribute('href'))
for i in range(0,10):
    driver.get(urls1[i])
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        rating.append(i.text)
    
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        r_sum.append(j.text)
    
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_sum.append(k.text)

In [287]:
iphone = pd.DataFrame({})
iphone['Rating'] = rating
iphone['Review Summary'] = r_sum
iphone['Full Review'] = full_sum
iphone

,Rating,Review Summary,Full Review
0,Brilliant,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,Perfect product!,Perfect product!,Amazing phone with great cameras and better ba...
2,Great product,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,Worth every penny,Worth every penny,Previously I was using one plus 3t it was a gr...
4,Good choice,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,Fabulous!,Fabulous!,Everything is perfect pictures come out so cle...
96,Wonderful,Wonderful,Nice value for money good and best price I pho...
97,Fabulous!,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
98,Value-for-money,Value-for-money,As usual a great product from Apple. but the l...
99,Terrific,Terrific,Good buy.. working perfectly !\n\nThat was upg...

# Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [139]:
driver.get('https://www.flipkart.com')

In [140]:
# searching product

inp = input("Enter the product: ")
search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search.clear()
search.send_keys(inp)

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

Enter the product: sneakers

In [141]:
brand = []
p_desc = []
price = []
discount = []
url_list = []

In [142]:
temp = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in temp:
    url_list.append(i.get_attribute('href'))

In [143]:
for i in range(3):
    driver.get(url_list[i])
    for m in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        if len(brand) == 100:
            break
        else:
            brand.append(m.text)
    
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if len(p_desc) == 100:
            break
        else:
            p_desc.append(j.text)
    
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        if len(price) == 100:
            break
        else:
            price.append(k.text)
    
    for l in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        if len(discount) == 100:
            break
        else:
            discount.append(l.text)

In [ ]:
sneakers = pd.DataFrame({})
sneakers['Brand'] = brand
sneakers['Description'] = p_desc
sneakers['Price'] = price
sneakers['Discount'] = discount

In [416]:
print(len(brand), len(p_desc), len(price), len(discount))

100 96 100 100

# Go to the link - https://www.myntra.com/shoes
# Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
# And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [499]:
driver.get('https://www.myntra.com/shoes')

In [500]:
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()

In [501]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

In [502]:
brand = []
s_desc = []
price = []
url_list1 = []

In [503]:
abc = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in abc:
    url_list1.append(i.get_attribute('href'))

In [504]:
url_list1

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6601.0_13068.0_6601.0%20TO%2013068.0&p=10']

In [512]:
for i in range(0,2):
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        if len(brand) == 100:
            break
        else:
            brand.append(j.text)
    
    for k in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        if len(price) == 100:
            break
        else:
            price.append(k.text)
    
    for l in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        if len(s_desc) == 100:
            break
        else:
            s_desc.append(l.text)
    
    driver.get(url_list1[i])

In [513]:
print(len(brand), len(s_desc), len(price))

100 100 100

In [514]:
shoes = pd.DataFrame({})
shoes['Brand'] = brand
shoes['Description'] = s_desc
shoes['Price'] = price
shoes

           Brand                     Description               Price
0           Nike      Men React Infinity Running  Rs. 11621Rs. 15495
1           Nike      Men AIR ZOOM Running Shoes           (25% OFF)
2           Nike    Men KD13 EP Basketball Shoes   Rs. 7721Rs. 10295
3           Nike          Women AIR ZOOM Running           (25% OFF)
4           Nike       Men JOYRIDE Running Shoes           Rs. 12995
..           ...                             ...                 ...
95          Nike  Men REACT PHANTOM FLYKNIT2 Run   Rs. 7199Rs. 11999
96       Saint G            Leather Heeled Boots           (40% OFF)
97  Kenneth Cole          Women Solid Flat Boots    Rs. 7192Rs. 8990
98  UNDER ARMOUR   Charged Rogue 2 Running Shoes           (20% OFF)
99          Nike  Women PEGASUS 37 Running Shoes    Rs. 8995Rs. 9995

[100 rows x 3 columns]

# Scrapping laptop list from amazon using filter search

In [127]:
driver.get('https://www.amazon.in')

In [130]:
# passing search item
search_inp = input('Enter product: ')
search_bar = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search_bar.clear()
search_bar.send_keys(search_inp)

# searching
search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_btn.click()

Enter product: Laptop

In [131]:
# applying filter corei7
filter1 = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
filter1.click()

# applying filter corei9
#filter2 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span')
#filter2.click()

# we can not apply more than one filter in same page and after applying single filter cpu type is not showing in the next page

In [132]:
title = []
rating = []
price = []

In [133]:
# extracting title
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
    if len(title) == 10:
        break
    else:
        title.append(i.text)
    
# extracting rating
for j in driver.find_elements_by_xpath('//a[@class="a-popover-trigger a-declarative"]/i/span'):
    if len(rating) == 10:
        break
    else:
        rating.append(j.text)

# extracting price
for k in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    if len(price) == 10:
        break
    else:
        price.append(k.text)

In [137]:
laptop = pd.DataFrame({})
laptop['Name'] = title
laptop['Rating'] = rating
laptop['Price'] = price

In [138]:
laptop

                                                Name Rating     Price
0  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...           53,499
1  (Renewed) Dell Latitude E6420 14 Inch Laptop (...           34,000
2  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...           37,499
3  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...           37,999
4  (Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...           46,290
5  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...           84,200
6  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...         3,43,099
7  MSI GE75 Raider 10SFS 17.3" FHD Gaming Laptop ...         1,84,990
8  Dell Inspiron 5409 14.0" (35.56cms)FHD WVA AG ...           99,138
9  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...           61,799

In Question number 3, i don't know how to do it. and getting errors everytime.